<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233310450098-4esavaoo2891of42motps60ajic22gr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233310450098-4esavaoo2891of42motps60ajic22gr5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYKg38eyndCaqeOjrtNsuLOjyJRFU5AFs</string>
	<key>GCM_SENDER_ID</key>
	<string>233310450098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonsazang.triple.triple</string>
	<key>PROJECT_ID</key>
	<string>flutter-triple</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-triple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233310450098:ios:5b9bf94e0a4ff04db5f4ab</string>
</dict>
</plist>